<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.store.mapper.LoginMapping">
    <!--    public User selectByUsername(String username);-->
    <select id="selectByUsername" resultType="com.zx.store.bean.User">
        SELECT * FROM user WHERE username=#{username}
    </select>

    <!--    public User selectByEmail(String email);-->
    <select id="selectByEmail" resultType="com.zx.store.bean.User">
        SELECT * FROM user WHERE email=#{email}
    </select>

    <!--    public User selectByUsernameAndPassword(String username, String password);-->
    <select id="selectByUsernameAndPassword" resultType="com.zx.store.bean.User">
        SELECT * FROM user WHERE username=#{username} and password=#{password}
    </select>

    <!--    public User selectByEmailAndPassword(String email, String password);-->
    <select id="selectByEmailAndPassword" resultType="com.zx.store.bean.User">
        SELECT * FROM user WHERE email=#{email} and password=#{password}
    </select>

    <!--public List<Goods> selectAllGoods();
        -->
    <resultMap id="allGoods" type="com.zx.store.bean.Goods">
        <id column="id" property="id"></id>
        <result column="link" property="image"></result>
        <result column="sale_price" property="newPrice"></result>
        <result column="price" property="oldPrice"></result>
    </resultMap>
    <select id="selectAllGoods" resultMap="allGoods">
        select B.link,B.goods_id b_g_id,A.id id,A.price sale_price
        from zx_goods as A left join zx_goods_images as B
        ON A.id=B.goods_id where B.is_master=1;
    </select>

    <!-- public ShopCar selectShopCarById(Integer id);-->
    <!--    private Integer id;
        private double newPrice;
        private double oldPrice;
        private String content;
        private String summary;
        private String brand_name;
        private String category_name;-->
    <resultMap id="selectShopCar" type="com.zx.store.bean.DetailPage">
        <id column="id" property="id"></id>
        <result column="price" property="newPrice"></result>
        <result column="original" property="oldPrice"></result>
    </resultMap>
    <select id="selectShopCarById" resultMap="selectShopCar">
        select G.id id,G.goods_name, G.price price,G.original original,G.content content,
        G.summary summary,B.brand_name brand_name,C.category_name category_name
        from zx_goods as G
        INNER join zx_brand as B
        on B.id=G.brand_id
        INNER join zx_categories as C
        on C.id=G.category_id
        where G.id=#{id};
    </select>

    <!--    public Property selectPropertyById(Integer id);-->
    <select id="selectPropertyById" resultType="com.zx.store.bean.Property">
        select N.id id,N.property_name property_name,V.property_value property_value
        from zx_goods as G
        INNER join zx_goods_property as P
        on P.goods_id=G.id
        INNER join zx_property_name as N
        on N.id=P.property_name_id
        INNER join zx_property_value as V
        on V.id=P.property_value_id
        where G.id=#{id};
    </select>

    <!--public List<DetailImage> selectDetailImageById(Integer id);    -->
    <select id="selectDetailImageById" resultType="com.zx.store.bean.DetailImage">
        select I.id id,I.link link,I.position position
        from zx_goods as G
        INNER join zx_goods_images as I
        on I.goods_id=G.id
        where G.id=#{id} and is_master=0;
    </select>

    <!--    public List<Size> selectSizeById(Integer id);-->
    <select id="selectSizeById" resultType="com.zx.store.bean.Size">
        select N.id,N.property_name,V.property_value
        from zx_goods as G
        INNER join zx_goods_property as P
        on P.goods_id=G.id
        INNER join zx_property_name as N
        on N.id=P.property_name_id
        INNER join zx_property_value as V
        on V.id=P.property_value_id
        where G.id=#{id} and N.id=6;
    </select>

    <!--  public List<Color> selectColorById(Integer id);  -->
    <select id="selectColorById" resultType="com.zx.store.bean.Color">
        select N.id,N.property_name,V.property_value
        from zx_goods as G
        INNER join zx_goods_property as P
        on P.goods_id=G.id
        INNER join zx_property_name as N
        on N.id=P.property_name_id
        INNER join zx_property_value as V
        on V.id=P.property_value_id
        where G.id=#{id} and N.id=1;
    </select>

<!--    public void insertShopcar();-->
    <insert id="insertShopcar">
        insert into zx_shopcar values(default,1,1,1,'男','1998-6-22','aa','q',default,default);
    </insert>
</mapper>