<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Abut</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" th:href="@{/images/favicon.ico}">

    <!-- All css files are included here -->
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" href="css/core.css" th:href="@{/css/core.css}">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="css/shortcode/shortcodes.css" th:href="@{/css/shortcode/shortcodes.css}">
    <!-- Theme main style -->
    <link rel="stylesheet" href="css/style.css" th:href="@{/css/style.css}">
    <!-- Responsive css -->
    <link rel="stylesheet" href="css/responsive.css" th:href="@{/css/responsive.css}">
    <!-- User style -->
    <link rel="stylesheet" href="css/custom.css" th:href="@{/css/custom.css}">


    <!-- Modernizr JS -->
    <script src="js/vendor/modernizr-2.8.3.min.js" th:href="@{/js/vendor/modernizr-2.8.3.min.js}"></script>
</head>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Body main wrapper start -->
<div class="wrapper">

    <!-- Start of header area -->
    <div th:replace="~{public::header}"></div>
    <!-- End of header area -->
    <!-- Start Breadcrumbs Area -->
    <div class="breadcrumbs-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumbs text-center text-white">
                        <h3 class="text-uppercase">About</h3>
                        <ul class="breadcrumbs-list">
                            <li>
                                <a href="index.html" title="Return to Home">Home</a>
                            </li>
                            <li>/</li>
                            <li>About</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Of Breadcrumbs Area -->
    <!-- Start page content -->
    <section id="page-content" class="page-wrapper">
        <!-- Start About us Area -->
        <div class="about-us-area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title-2 text-uppercase text-center mb-40">
                            <h4>About us</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7 col-sm-12 col-xs-12">
                        <div class="about-page-cntent">
                            <h4 class="text-uppercase"><strong>The standard lorem ipsum passage</strong></h4>
                            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
                                velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam
                                aliquam quaerat voluptatem. Ut enim ad minima veniam, ullam, commodi consequatur?</p>
                            <blockquote>
                                <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil
                                    molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla
                                    pariatur</p>
                            </blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi malesuada
                                vestibulum. Phasellus tempor nunc eleifend cursus molestie. Mauris lectus arcu,
                                pellentesque at sodales sit amet, condimentum id nunc. Donec ornare mattis suscipit.
                                Praesent fermentum accumsan vulputate.</p>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-12 col-xs-12">
                        <div class="img-element b-img">
                            <img src="images/about/ab.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title-2 text-uppercase text-center mtb-40">
                            <h4>Meet the team</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-4">
                        <div class="item-team text-center text-capitalize">
                            <div class="team-info">
                                <div class="team-img mb-10">
                                    <img width="250" height="250" alt="team4" class="img-responsive"
                                         src="images/about/1.jpg">
                                    <div class="mask">
                                        <div class="mask-inner">
                                            <a href=""><i class="zmdi zmdi-facebook"></i></a>
                                            <a href=""><i class="zmdi zmdi-twitter"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h5>Martin Demichelis</h5>
                            <h6>PHP Developer</h6>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="item-team text-center text-capitalize">
                            <div class="team-info">
                                <div class="team-img mb-10">
                                    <img width="250" height="250" alt="team4" class="img-responsive"
                                         src="images/about/2.jpg">
                                    <div class="mask">
                                        <div class="mask-inner">
                                            <a href=""><i class="zmdi zmdi-facebook"></i></a>
                                            <a href=""><i class="zmdi zmdi-twitter"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h5>Luka Biglia</h5>
                            <h6>Programmer</h6>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="item-team text-center text-capitalize">
                            <div class="team-info">
                                <div class="team-img mb-10">
                                    <img width="250" height="250" alt="team4" class="img-responsive"
                                         src="images/about/3.jpg">
                                    <div class="mask">
                                        <div class="mask-inner">
                                            <a href=""><i class="zmdi zmdi-facebook"></i></a>
                                            <a href=""><i class="zmdi zmdi-twitter"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h5>Havier Macherano</h5>
                            <h6>Developer</h6>
                        </div>
                    </div>
                    <div class="col-md-3 hidden-sm">
                        <div class="item-team text-center text-capitalize">
                            <div class="team-info">
                                <div class="team-img mb-10">
                                    <img width="250" height="250" alt="team4" class="img-responsive"
                                         src="images/about/4.jpg">
                                    <div class="mask">
                                        <div class="mask-inner">
                                            <a href=""><i class="zmdi zmdi-facebook"></i></a>
                                            <a href=""><i class="zmdi zmdi-twitter"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h5>Martin Demichelis</h5>
                            <h6>PHP Developer</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Of About us Area -->

    </section>
    <!-- End page content -->
    <!-- Start footer area -->
    <div th:replace="~{public::#footer}"></div>
    <!-- End footer area -->
</div>
<!-- Body main wrapper end -->


<!-- Placed js at the end of the document so the pages load faster -->

<!-- jquery latest version -->
<script src="js/vendor/jquery-3.1.1.min.js" th:src="@{/js/vendor/jquery-3.1.1.min.js}"></script>
<!-- Bootstrap framework js -->
<script src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<!-- All js plugins included in this file. -->
<script src="js/plugins.js" th:src="@{/js/plugins.js}"></script>
<!-- Main js file that contents all jQuery plugins activation. -->
<script src="js/main.js" th:src="@{/js/main.js}"></script>

</body>

</html>
